<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Employee Management System </title>
    <style>
        <%- include('../Partials/style1.css') %>
     </style>
     <script src="https://kit.fontawesome.com/1b8de0137b.js" crossorigin="anonymous"></script>
     <%- include('../Partials/searchbar.ejs') %>
     
     
     
     
   
     

     
    
</head>

