<nav>
    <h1> <a href="/"> CMS </a> </h1>
    <p> The #1 employee management system </p>
    <ul> 
        <li><a href = "/"> <i class="fas fa-home" title="Home"></i>
         </a></li>
        <li> <a href= "/about"> About</a></li>
        <li> <a href= "/create"> <i class="fa-solid fa-pen-fancy" title="Create"></i>
        </a></li>
        <li> <a href= "/Manage"> Login </a></li>
        <div class="message-icons">
            <i class="fa-solid fa-comment fa-lg"></i>
       </div>
       <div class="notification-icons">
          <i class="fa-solid fa-bell fa-lg"></i>
      </div>

    </ul>

</nav>

<br> </br>
