<body>
    <div class="message-icons">
         <i class="fa-solid fa-comment fa-lg"></i>
    </div>
    <div class="notification-icons">
       <i class="fa-solid fa-bell fa-lg"></i>
   </div>

</body>