<body>
    <button class="toggle-btn" onclick="togglePanel()"><i class="fa-solid fa-bars" title="Open Main Menu"></i></button>
    <div class="sidebar">
        <div c></div>
        
        <div class="content">
            <button class="toggle-btn" "><i class="fa-solid fa-bars" title="Open Main Menu"></i>  </button>
            <ul> 
                <br>
                <br>
                <br>
                <br>
                <ol class="menu-category"><span class="menu-text"> Pinned Apps </span></ol>
                <br>
                <ol><a href = "/"><i class="fa-solid fa-chart-simple" title="Projects"></i> <span class="menu-text">Projects </span></a></ol>
                <ol> <a href= "/about"><i class="fa-solid fa-file-pen" title="Reports"></i> <span class="menu-text">Reports</span></a></ol>
                <br>
                <ol class="menu-category"><span class="menu-text"> Your Company </span></ol>
                <br>
                <ol> <a href= "/create"> <i class="fa-solid fa-users" title="Employees"></i><span class="menu-text">Employees</span></a></ol>
                <ol> <a href= "/Manage"></a> <i class="fa-solid fa-money-check" title="Payroll"></i> <span class="menu-text">Payroll</span></a></ol>
                <ol> <a href= "/Manage"> <i class="fa-solid fa-align-justify" title="Applications"></i><span class="menu-text">Applications</span></a></ol>
                <ol> <a href= "/Manage"> <i class="fa-solid fa-file-invoice-dollar" title="Vendors"></i><span class="menu-text">Vendors </span> </a></ol>
                <ol> <a href= "/Manage"> <i class="fa-solid fa-gear" title="Settings"></i> <span class="menu-text">Settings <span></a></ol>
                <br>
                <ol class="menu-category"><span class="menu-text"> Support </span></ol>
                <br>
                <ol> <a href= "/Manage"> <i class="fa-solid fa-book-open" title="Handbook"></i> <span class="menu-text">Handbook </span></a></ol>
        
            </ul>

        </div>
</body>
