<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/header.ejs') %>
</head>
<body>
    <%- include('../Partials/nav.ejs') %>
    <h1> Remove Employee</h1>
    <input type="search" placeholder="Search employee id here" required> Search:

    <%- include('../Partials/footer.ejs') %>
</body>
</html>