<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Partials/header.ejs') %>
</head>
<body>
    <%- include('../Partials/nav.ejs') %>
    <div class="view-all"> 
        <h1> View all Employees</h1>

    </div>
  
    <%- include('../Partials/footer.ejs') %>
</body>

</html>